body {
  margin: 0;
  background: url("../assets/background.jpg");
  background-size: auto;
  background-repeat: repeat;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group--error-container {
  position: absolute;
  color: rgb(124, 2, 2);
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
}

.error-message {
  position: absolute;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.error-message--requiered {
  opacity: 1;
}

.form-group.has-error .error-message {
  transform: translateX(0);
}

.location-label {
  margin-left: 20px;
}

.edited-form {
  display: flex;
  flex-direction: column;
}

.amenities_container {
  display: flex;
  flex-direction: column;
  select {
    width: 120px;
  }
}

.calendar_container {
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.choose-car-container {
  display: flex;
  flex-direction: column;
  select {
    width: 120px;
  }
}

.location-form-container {
  position: relative;

  display: flex;
  flex-direction: row;
}

.user-selected-dates {
  position: relative;
  display: flex;
  flex-direction: row;
}

header {
  padding: 50px;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.header_item {
  position: relative;
  margin-right: 30px;
  font-size: large;
  transition: 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    color: rgb(197, 1, 1);
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: auto;
}

ul {
  margin: 0;
}

.clearAll {
  margin-top: 4px;
  padding: 0 20px;
  position: relative;

  &:hover {
    cursor: pointer;
    color: red;
  }
}

.results {
  margin: 30px 0 0 50px;
  width: 100%;
  display: flex;

  ul {
    font-weight: 600;
    margin: 0;
    font-size: large;
    list-style-type: none;
  }
}

main {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;

  ul {
    margin: 0;
    font-size: large;
    width: 200px;
    list-style-type: none;
    li {
      padding: 20px;
    }
  }

  .searchHistory {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .history-list {
    margin: 0 auto;
    font-size: large;
    font-weight: 600;
    width: 800px;
    list-style-type: none;

    .history-list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      padding: 0;
      &:hover {
        opacity: 0.8;
        background-color: rgb(255, 249, 249);
      }

      .list-item-text {
        padding: 0;
        &:hover {
          cursor: pointer;
        }
      }
      .delete-list-item {
        opacity: 1;
        display: flex;
        margin-left: auto;
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 0px 5px;
        outline: none;
        border: 2px;
        border-style: solid;
        border-color: #fd3a33;
        background-color: #fc221a;
        border-radius: 6px;
        transition: 1s;
        &:hover {
          background-color: #a01a16;
          transition: 1s;
        }
        &:active {
          background-color: #3b0a08;
        }
      }
    }
  }

  .content-flights {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .content-hotels {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .content-cars {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}

.location_selects {
  margin: 0 20px 20px;
  display: flex;
  flex-direction: row;
}

.country-picker-container {
  min-width: 200px;
  max-width: 200px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.city-picker {
  min-width: 200px;
  max-width: 200px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

select {
  border: 1px solid #aaa;
  background-color: #fff;
  width: inherit;
  text-overflow: ellipsis;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 15px 5px 15px;
}

.sidebar-list-item {
  color: black;
  transition: 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    color: rgb(197, 1, 1);
  }
}
.active {
  color: rgb(139, 1, 1);
}

.hidden {
  display: none;
}
